@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./bg.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  --primary: #55A417;
}

body:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

img#logo {
  border-radius: 0 0 15px 15px;
  width: 200px;
  display: block;
  margin: auto;
  border: 10px solid white;
}

main {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}

main h2, main h1 {
  text-align: center;
}

main .form-container {
  padding: 4rem 4em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

main form {
  margin-top: 25px;
  min-width: 200px;
  max-width: 400px;
  width: 30vw;
  text-align: center;
  font-size: 1.2rem;
}

main form label {
  display: block;
  text-align: left !important;
}

main form input {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

main form input[type="submit"] {
  background: var(--primary);
  width: 100px;
  color: white;
  margin: 0 !important;
  cursor: pointer;
  font-weight: bold;
  font-size: unset; 
}