.options-panel {
  background: #eee;
  border-radius: var(--border-radius);
  padding: 30px;
  flex: 1.5;
}

.options-panel h3 {
  margin-bottom: 20px;
  color: #3D3D3D;
}

.options-panel div {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.options-panel p {
  display: inline-block;
  padding: 5px 10px;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}