.selectPanel__collection__entry {
  width: var(--entry-width);
  max-width: var(--max-entry-width);
  height: var(--entry-width);
  max-height: var(--max-entry-width);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 100ms;
  
}

.selectPanel__collection__entry:hover {
  -webkit-tap-highlight-color: transparent;
}