.selectPanel {
  background: white;
  padding: 20px;
  border-radius: var(--border-radius);
}

.selectPanel__collection {
  background: #eee;
  display: grid;
  border-radius: var(--border-radius);
  z-index: -2;
}